.baseButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--button-color);
    color: var(--light-color);
    outline: none;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.9;
    }
}

/* Variants */
.flat {
    color: var(--button-color) ;
    background-color: transparent;

    &:hover {
        background-color: rgba(var(--button-color-rgb, 255, 255, 255), 0.1); /* Light background on hover */
    }
}

.fill {
    background-color: var(--button-color);
    color: var(--light-color) ;

    &:hover {
        background-color: rgba(var(--button-color-rgb, 255, 255, 255), 0.9); /* Slightly darker on hover */
    }
}

.outlined {
    background-color: transparent;
    border: 1px solid var(--button-color);
    color: var(--button-color);

    &:hover {
        background-color: rgba(var(--button-color-rgb, 255, 255, 255), 0.1); /* Light background with border */
    }
}

/* Colors */
.primary {
    --button-color: var(--primary-color);
    --button-color-rgb: 37, 99, 235;
}

.danger {
    --button-color: var(--danger-color);
    --button-color-rgb: 220, 38, 38;
}

.success {
    --button-color: var(--success-color);
    --button-color-rgb: 22, 163, 74;
}