.baseTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;

    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding:  0.4rem;

    .completed {
        text-decoration: line-through;
        color: var(--secondary-color);
    }

    .uncompleted {
        text-decoration: none;
        color: var(--success-color);
    }

    .actions {
        display: flex;
        gap: 0.5rem;
    }
}