.baseButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.fill {
        background-color: var(--primary-color);
        color: #fff;
        border: none;
    }

    &.outlined {
        background: transparent;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
    }

    &.flat {
        background: transparent;
        color: var(--primary-color);
        border: none;
    }

    &.primary {
        --primary-color: #007bff;
    }

    &.danger {
        --primary-color: #dc3545;
    }

    &.success {
        --primary-color: #28a745;
    }

    &.dense {
        padding: 5px 10px; // Smaller padding
        font-size: 0.875rem; // Smaller font size
        border-radius: 3px; // Slightly sharper corners
    }
}

.spinner {
    width: 1rem;
    height: 1rem;
    border: 2px solid #f3f3f3;
    border-top: 2px solid var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
