.welcomeText {
    p {
        color: var(--secondary-color);
        font-size: 0.8rem;
    }
}

.form {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;

    .forgotLink {
        text-align: center;
    }

    .error {
        color: var(--danger-color);
    }
}   